<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link href="/images/weather.png" rel="icon">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    
    <body>
        <div class="main-content">
            {{>header}}
            <h1>{{message}}</h1>
        </div>
        {{>footer}}
    </body>
</html>